.takeanote {
  display: flex;
  justify-content: center;
}

#form1 {
  /* border: 2px solid; */
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2.5px 2.5px lightgray;
  width: 50%;
  height: 45px;
  padding-top: 0%;
}

.forminput2 {
  border: none !important;
  margin-top: 0%;
  padding-top: 0%;
  color: #202124 !important;
  font-size: 17px;
}

.takeanotethreeicons {
  display: flex;
  width: 25%;
}

#form2 {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2.5px 2.5px lightgray;
  width: 50%;
  padding-top: 0%;
}

.hide-takenote {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 10px;
  color: #202124;
  border: none !important;
}

.title-pin {
  display: flex;
  justify-content: space-between;
  color: #202124;
}

.pin-icon {
  margin-top: 16px;
  margin-bottom: 10px;
  color: #202124 !important;
}

#icons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #202124;
}

.inner-icons {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  padding-left: 0%;
  margin-left: -30px;
}

.button {
  /* margin: 0%; */
  display: flex;
  justify-content: end;
  width: 32%;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.button > p {
  margin: 0%;
}

.icons-takenote {
  width: 60%;
  margin-left: -30px;
}

.undoredo {
  display: flex;
  justify-content: space-evenly;
  margin-left: -10px;
  width: 70px;
}

@media screen and (max-width: 900px) {
  .takeanotethreeicons {
    width: 35%;
  }
}

@media screen and (max-width: 600px) {
  .takeanotethreeicons {
    width: 100%;
    margin-left: -100px;
  }

  #form1 {
    width: 75vw;
    margin-left: 50px;
  }

  #form2 {
    width: 80%;
    margin-left: 50px;
  }

  #icons {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 330px) {
  .takeanotethreeicons {
    width: 100%;
    margin-left: -140px;
  }

  #form2 {
    width: 70%;
  }

  #icons {
    margin-left: 20px;
  }
}

.something {
  border: solid 2px black;
  height: 50px;
}

.collabiconstakeanote {
  display: flex;
  margin-top: 10px;
}

.takeanoteavatars {
  background-color: brown !important;
  text-transform: uppercase !important;
  margin-right: 5px !important;
  width: 30px !important;
  height: 30px !important;
}
