.note-testContainer {
  border: 1px solid rgb(228, 225, 225);
  border-radius: 8px;
  height: fit-content;
  width: 17vw;
}

.note-testContainer > h4 {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.note-paragraph {
  margin-left: 1rem;
  font-size: 0.875rem;
}

.shownotes-icons {
  margin-top: 25%;
}

/* media queries */
@media only screen and (max-width: 1024px) {
  .note-testContainer {
    width: 32vw;
  }
}

@media only screen and (max-width: 700px) {
  .note-testContainer {
    margin-bottom: 10px;
    width: 50vw;
  }
}
