.forgotpass-page {
    display: flex;
    justify-content: center;
    /* height: 80%; */
    align-content: center;
  }
  
  .body-forgotpass{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    /* margin-top: 30px; */
    /* height: 80vh; */
    width: 30vw;
    border: 1px solid lightgray;
    border-radius: 1%;
    padding: 50px;
    padding-top: 20px;
    align-items: center;

  }

  .confirmpass-forgotpass{
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .next-forgotpass{
      display: flex;
      justify-content: end;
      width: 30vw;
  }

  @media screen and (max-width:900px) {
    .next-forgotpass{
        width: 37vw;
    }
  }


  @media screen and (max-width:600px) {
    .next-forgotpass{
        width: 65vw;
    }
  }

  @media screen and (max-width:500px) {
      .change{
          font-size: 20px;
      }
  }

  @media screen and (max-width:400px) {
    .change{
        font-size: 15px;
        margin-left: 20px;
    }
}